@import '../bower_components/webui-core/core/style/sass/settings';

$sps-link: #00a1d1;
$sps-table-link: #0097cc;
$sps-primary-blue: #00AAE5;
$sps-deep-blue: #0079A5;
$sps-light-blue: #80D4F2;
$sps-pale-blue: #D9F2FB;
$sps-yellow: #FF9632;
$sps-pale-yellow: #FFF9E5;
$sps-light-yellow: #FFE278;
$sps-orange: #FA6423;
$sps-gray-link: #545d60;
$sps-nav-menu-gray: #818688;
$sps-grey-border: #E0E2E3;

$sps-plum: #9B4B87;
$sps-grape: #4B2346;

$sps-pale-grey: #F6F6F6;
$sps-light-grey: #B0B6B8;
$sps-medium-grey: #606A6E;

$sps-success: #32BE6F;
$sps-error: #FF3246;

$app-header-height: 60px;